/* CSS style sheet for linkedviews.html */


body {
  background-color: lightgrey;
}

.header{
		font: 30px sans-serif;
		color:  #002b80;
		font-weight: bold;
		text-align: center;
		text-decoration: underline;
	}
.source {
  font: 15px sans-serif;
  color:  #808080;
  font-weight: bold;
  padding-left: 10px;
  text-align: left;

}
.bar {
  fill:  #1a53ff;
}

.bar:hover{
		fill: #99bbff;
	}

.d3-tip {
  line-height: 1;
  font: 13px sans-serif;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
.axis text {
  font: 12px sans-serif;
  font-weight: bold;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  }
